/backend/.env
/backend/__pycache__/
/backend/DB.db
/backend/models/
*.safetensors
__pycache__/
**/__pycache__/
*.pyc

# DB / 바이너리
*.db
*.sqlite
*.sqlite3

# 로컬 실행물/로그(있다면)
*.log
*.pid

*.env
.env
.env.*
backend/api/.env